<div class="program-page">
  <div class="headback">
    <div class="container">
      <div class="headtopcontents program">
        <img src="/assets/img/program/program-title.png" alt="">
      </div>
    </div>
  </div>
  <div class="section-view">
    <div class="section-backview colorview1"></div>
    <div class="section-backview colorview2"></div>
    <div class="section-backview colorview3"></div>
    <div class="container">
      <div class="backwhite-inner">
        <%= partial "modules/ticketbar" %>
        <div class="row">
          <div class="col-md-12 box-section">
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right">
              <img src="/assets/img/program/dateplate.png" alt="" style="width:100%;">
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12">
              <h1><%= data.program.title %></h1>
              <p><%= data.program.description %></p>
            </div>
          </div>

          <div class="mobile_hide col-md-12 box-section">
            <h3><%= data.program.bestblog.title %></h3>
            <p><%= data.program.bestblog.description %></p>
            <div class="pull-right">
              <a href="http://goo.gl/forms/6Uyswnm8mwQ8nnKJ2" target="_blank" class="btn btn-default btn-ticket">
                <i class="fa fa-caret-right yellow"></i>&ensp;Registration for Your Article!
              </a>
            </div>
          </div>
  
          <div class="mobile_hide col-md-12 box-section">
            <h3>スケージュール (テーブル表示)</h3>
            <span>※左右にスクロールすることができます。</span>
            <div class="ui-flickable-wrapper">
              <div class="ui-flickable-content" style="overflow: scroll;">
                <table border="1" cellpadding="0" cellspacing="0" style="width:1200px;">
                 <tbody class="programtable">
                   <tr>
                    <td rowspan="2">時間</td>
                    <% data.program.roominfo.each do |room| %><td><%= room.name %></td><% end %>
                  </tr>
                  <tr>
                    <% data.program.roominfo.each do |room| %><td><%= room.room %></td><% end %>
                  </tr>
	          <% data.program.programtable.each do |parallel_sessions| %>
                  <tr>
                    <td><%= parallel_sessions.begin_time %>-<br><%= parallel_sessions.end_time %></td>
                    <% parallel_sessions.section.each do |programblock| %>
                    <td rowspan="<%= programblock.rowsize ? programblock.rowsize : "1" %>" colspan="<%= programblock.colsize ? programblock.colsize : "1" %>">
                      <% programblock.subsection.each do |program| %>
                        <% if program.programid && p=data.speaker.speakers.find{|p| p.programid==program.programid} then %>
                          <%= program.label ? program.label : program.roomid %><br/>
                          <a href="speaker.html#<%= program.programid %>"><%= p.messagetitle ? p.messagetitle : "NO DATA" %></a><br />
                        <% else %>
                          <%= program.label ? program.label : "&nbsp;" %>
                        <% end %>
                        <% if program.sublabel then %><br /><%= program.sublabel %><% end %>
                      <% end %>
                    </td>
                    <% end %>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>

        <div class="col-md-12 box-section">
          <h3>スケジュール (縦表示)</h3>
          <table border="1" class="vertical_table">
            <% data.program.programtable.each do |parallel_sessions| %>
            <thead>
              <tr>
                <td class="vertical_table_headline"><%= parallel_sessions.begin_time %>-<%= parallel_sessions.end_time %></td>
              </tr>
            </thead>
            <tbody>
              <% i=0; j=0; parallel_sessions.section.each do |programblock| %>
              <% display=true; programblock.subsection.each do |program|; display = display && (program.programid || program.label); end; if display then %>
              <tr class="vertical_table_row<%= j%2 %>">
                <td>
                  <% if parallel_sessions.place==nil || parallel_sessions.place.to_s=="inside" then %>
                    <%= data.program.roominfo[i].name %> (<%= data.program.roominfo[i].room %>)<br />
                  <% end %>
                  <% programblock.subsection.each do |program| %>
                    <% if program.programid && p=data.speaker.speakers.find{|p| p.programid==program.programid} then %>
                      [<%= program.label ? program.label : program.roomid %>] <a href="speaker.html#<%= program.programid %>"><%= p.messagetitle ? p.messagetitle : "NO DATA" %></a><br />
                    <% else %>
                      <%= program.label ? program.label : "&nbsp;" %>
                    <% end %>
                    <% if program.sublabel then %><br /><%= program.sublabel %><% end %>
                  <% end %>
                </td>
              </tr>
              <% j=j+1; end; %>
              <% i=i+1; end; %>
            </tbody>
            <% end %>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
