<div class="headback">
  <div class="container">
    <div class="headtopcontents speaker">
      <img src="/assets/img/speaker/speaker-title.png" alt="">
    </div>
  </div>
</div>
<div class="section-view">
  <div class="section-backview colorview1"></div>
  <div class="section-backview colorview2"></div>
  <div class="section-backview colorview3"></div>
  <div class="container">
    <div class="backwhite-inner">
      <%= partial "modules/ticketbar" %>
      <div class="row">
        <div class="col-md-12 box-section">
          <h1><%= data.speaker.title%></h1>
          <p><%= data.speaker.description%></p>
        </div>
        <div class="col-md-12 box-section">
            <% data.speaker.speakers.each_slice(2) do |speaker| %>
            <div class="col-md-12">
              <% speaker.each do |s| %>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row" id="<%= s.programid %>">
                    <hr/>
                    <h3><%= s.messagetitle %></h3>
                  <div class="col-md-6">
<% envelop = [s];
   if s.group then envelop = s.group; end;
   envelop.each do |x| %>
                      <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                        <img src="/assets/img/<%= x.imgthumb %>" alt="userprofileimg" class="userprofileimg">
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                      <h2><%= x.name %></h2>
                      <% if x.sns.present? %>
                        <% if x.sns.twitter %>
                          <a href="https://twitter.com/<%= x.sns.twitter %>" target=="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                        <% else %>
                        <% end %>
                        <% if x.sns.facebook %>
                          <a href="https://www.facebook.com/<%= x.sns.facebook %>" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        <% else %>
                        <% end %>
                        <% if x.sns.github %>
                          <a href="https://github.com/<%= x.sns.github %>" target="_blank">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                          </a>
                        <% else %>
                        <% end %>
                      <% end %>
                      <p>
                        <% x.detail.each do |d| %>
                        <small><%= d %></small><br/>
                        <% end %>
                        <ul class="userprofile">
                          <% x.history.each do |h| %>
                          <li><%= h %></li>
                          <% end %>
                        </ul>
                      </p>
                    </div>
                </div>
<% end %>
                  </div>
                  <div class="col-md-6">
                     <h4>講演内容</h4>
                    <small><%= s.messagebody %></small>
                  </div>
                </div>
            </div>
              <% end %>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
